<%- include('partials/top.ejs') %> 

<main>
    <h1>MONGO READ EXAMPLE</h1>

    <h2>Data Passed to the View</h2>
    <p>Username: <%= username %></p>
    <p>Encrypted Password: <%= password %></p>
    <p>Password test result: <%= passwordTestResult %></p>
    <p>Does Password Match? <%= passwordMatches %></p>
</main>

<%- include('partials/bottom.ejs') %> 